* {
  background-color: antiquewhite;
}

.header1 {
  border: 2px solid red;
  background-color: ;
}

.main1 {
  border: 2px solid blue;
  width: 100%;
  height: 800px;
  position: relative;
}
.box1 {
  background-color: crimson;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
}
.box2 {
  background-color: cadetblue;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box3 {
  background-color: orange;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, -50%);
}

/* margin left center kollanarak düzenleme yap */
