@font-face {
  font-family: "geoplace";
  src: url(./font/GeoplaceSC-Regular.ttf);
}

@font-face {
  font-family: "remachine";
  src: url(./font/RemachineScript_Personal_Use.ttf);
}
@font-face {
  font-family: "sometime";
  src: url(./font/Sometime.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* width: 100vw;
  height: 100vw; */
  background-image: url(./img/white-backroom-many-ways-empty-labyrinth-ai-generative.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 40px;
}

.header1 {
  padding: 20px;
  /* border: 10px solid  brown; */
  padding: 2rem;
}
.header-header {
  /* border: 2px solid rgb(208, 255, 0); */
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(3px);
  border-radius: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.claruslogo {
  width: 45px;
}
.manu-ul {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.manu-ul li {
  list-style: none;
  border: 1px solid orange;
  border-radius: 15px;
  /* width: 15rem;
  height: 2rem; */
  margin-right: 2rem;
  font-family: "geoplace";
  margin: auto;
  padding: 10px;
  margin-right: 20px;
}

.main1 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/cloud-storage-background-remixed-from-public-domain-by-nasa.jpg);
  background-position: -160px;
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box2 {
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/programming-background-with-person-working-with-codes-computer.jpg);
  background-position: -80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}

.box3 {
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/html-css-collage-concept.jpg);
  background-position: -140px;
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box4 {
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/rpa-concept-with-blurry-hand-touching-screen.jpg);
  background-position: -70px;
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box5 {
  width: 15%;
  height: 60%;
  background-image: url(./img/data-server-racks-hub-room-with-big-data-computer-center-blue-interior-hosting-storage-hardware.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
  padding: 50px;
}
.textcours {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web3co {
  border-radius: 15px;
  background-color: transparent;
  color: rgb(255, 210, 210);
  font-family: "geoplace";
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 1px solid #000; */
}

.box1:hover {
  width: 20%;
  height: 90%;
}
.box2:hover {
  width: 20%;
  height: 90%;
}
.box3:hover {
  width: 20%;
  height: 90%;
}
.box4:hover {
  width: 20%;
  height: 90%;
}
.box5:hover {
  width: 20%;
  height: 90%;
}
