@font-face {
  font-family: "geoplace";
  src: url(./font/GeoplaceSC-Regular.ttf);
}

@font-face {
  font-family: "remachine";
  src: url(./font/RemachineScript_Personal_Use.ttf);
}
@font-face {
  font-family: "sometime";
  src: url(./font/Sometime.otf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* width: 100vw;
  height: 100vw; */
  /* background-image: url(./img/6804339-01.png); */
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 40px;
}

.header1{
  padding: 20px;
  border: 10px solid  brown;
  padding: 2rem;
}
.header-header {
  border: 2px solid rgb(208, 255, 0);
  backdrop-filter: blur(3px);
  border-radius: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;

}

.manu-ul {

  display: flex;
  justify-content: space-evenly;
  border: 2px solid red;
}

.manu-ul li {
  list-style: none;
  border: 1px solid orange;
  width: 15rem;
  height: 2rem;
  margin-right: 2rem;
}

.main1 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: crimson;
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/data-center-operation-with-highperformance-networking-gear.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box2 {
  background-color: cadetblue;
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/global-business-internet-network-connection-iot-internet-things-business-intelligence-concept-busines-global-network-futuristic-technology-background-ai-generative.jpg);
  background-size: cover;
  border-radius: 5rem;
  bbox-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}

.box3 {
  background-color: orange;
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/data-center-operation-with-highperformance-networking-gear.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box4 {
  background-color: rgb(255, 81, 0);
  width: 15%;
  height: 60%;
  margin-right: 2rem;
  background-image: url(./img/data-server-racks-hub-room-with-big-data-computer-center-blue-interior-hosting-storage-hardware.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
}
.box5 {
  width: 15%;
  height: 60%;
  background-image: url(./img/data-center-operation-with-highperformance-networking-gear.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.651);
  padding: 10px;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web3co {
  width: 150px;
  height:45px;
  border: 2px solid red;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-family:"sometime";
  font-size: 25px;  
  padding: 2px;
  list-style: none;

}

.box3:hover {
  width: 20%;
  height: 90%;
}
.box4:hover {
  width: 20%;
  height: 90%;
}
.box5:hover {
  width: 20%;
  height: 90%;
}
